body {
	color: #888888;
	font-size: 12px;
	font-family: "Trebuchet MS", "Lucida Grande", "Verdana", "sans-serif";
}

ul#admintab {
    font: bold 12px "Trebuchet MS", "Lucida Grande", "Verdana", "sans-serif";
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #bbb;
    margin: 0;
}

ul#admintab li {
    float: left;
    height: 21px;
    background-color: #F5F5F5;
    margin: 2px 2px 0 2px;
    border: 1px solid #bbb;
}

ul#admintab li.active {
    border-bottom: 1px solid #ffffff;
    background-color: #fff;
}

ul#admintab li.signout {
	float: right;
    border: 0px solid #ffffff;
    background-color: #ffffff;
}

ul#admintab li.seefolio {
	float: right;
    margin: 2px 2px 0 10px;
	background-color: #0063dc;
}

ul#admintab li.seefolio {
	float: right;
    margin: 2px 2px 0 10px;
	background-color: #ffffff;
}

ul#admintab li.seefolio a {
	color: #0063dc;
}

ul#admintab li.active a {
    color: #ff0084;
}

#admintab a {
    float: left;
    display: block;
    color: #888888;
    text-decoration: none;
    padding: 4px;
}

#admintab a:hover {
    background: #ffffff;
}

table.normal {
	font-size: 13px;	
}

p.warning-left {
	color: #f00;
}

p.warning {
	color: #f00;
	text-align: center;
}

p.succeed {
	color: #0a0;
	text-align: center;
}

p.title {
	color: #ff0084;
	font-size: 14px;
}

p.subtitle, p.account {
	color: #0063dc;
	font-size: 12px;
}

td.comment {
	color: #0063dc;
}

td.header {   
	background: #E1EEEE;
	color: #888888;
	border: 1px solid #888888;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

input, select
{
	color: #000;
	background: #fff;
	border: 1px solid #bbb;
}

.button input
{
	border: 1px solid #DADADA;
	border-radius: 3px;
	padding: 5px 8px;
	color: #0063dc;
	font-weight: bold;
	text-shadow: 0 -1px 0 #FFF4F4;
	background: #f8f8f8;

    background-image: -webkit-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -moz-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -o-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -ms-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: linear-gradient(#f8f8f8,#E9E7E7);
	cursor: pointer;
}

.account input
{
	color: #888888;
	background: #fff;
	border: 1px solid #fff;
}

.account input:hover
{
	border: 1px solid #ccc;
}

.button input:hover
{
	color: #ff0084;
	background: #E9E7E7;
}

.importantButton input
{
	border: 1px solid #DADADA;
	border-radius: 3px;
	padding: 8px;
	color: #ff0084;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0 -1px 0 #FFF4F4;
	background: #f8f8f8;

	background-image: -webkit-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -moz-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -o-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: -ms-linear-gradient(#f8f8f8,#E9E7E7);
	background-image: linear-gradient(#f8f8f8,#E9E7E7);
	cursor: pointer;
}

.importantButton input:hover
{
	color: #0063dc;
	background: #F3F3F3;
}

#mnlform select[name^="selectedFiles"] {
	width: 100%;
}

.signout input
{
	color: #ff0084;
	font-weight: bold;
	text-decoration: underline;
	background: #fff;
	border: 1px solid #fff;
}

table.styled {
	border: none;
	border-spacing: 10px 5px;
}

table.styled td {
	border: 1px solid #DADADA;
	border-radius: 5px;
}

table.styled td+td {
	margin-left: 10px;
}